{% extends 'base.html.twig' %}

{% block title %}Liste des departements{% endblock %}

{% block body %}
    <h1>Liste des departements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Capacite</th>
                <th>Nombre d'etudiants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.Name }}</td>
                <td>{{ department.Capacity }}</td>
                <td>{{ department.students.count }}</td>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('department_edit', {'id': department.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de donnees</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('department_new') }}"><i class="bi bi-plus-circle-dotted "></i></a>
{% endblock %}
