{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>nom</th>
                <td>{{ department.Name }}</td>
            </tr>
            <tr>
                <th>capacite</th>
                <td>{{ department.Capacity }}</td>
            </tr>
            <tr>
                <th>nombre d'etudiants</th>
                <td>{{ department.students.count }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_index') }}">retour a la liste</a>

    <a href="{{ path('department_edit', {'id': department.id}) }}">Modifier</a>

    {{ include('department/_delete_form.html.twig') }}
{% endblock %}
